.App {
  text-align: center;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li{
  display: inline-block;
  text-align: center;
  padding: 30px;
  
  font-size: 20px;
  font-weight: bold;
  

  background-color: white;
  text-decoration: none;
}

li a:hover{
  background-color: #207DAE;
  color: white;
  padding: 30px;
}

li a{
  color: black;
  text-decoration: none;
}
