fieldset {
  display: inline;
  
}

.input-box-fieldset {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.input-boxes {
  width: 300px;
}

.pub-priv-box-fieldset {
  padding-left: 151px;
  padding-right: 151px;
  padding-bottom: 30px;
}

.container {
  background-color: white;
  font-size: 30px;
  font-family: 'Inter';
  display: flex;
}

.form-container {
  padding-left: 50px;
  padding-top: 20px;
  padding-right:450px;
}

.upload-container {
  padding-top: 250px;
}

.publish-button {
  padding: 20px;
  color: white;
  background: rgba(79, 0, 218);
}

.save-button {
  padding: 20px;
  color: white;
  background: rgba(46, 0, 150);
}