.row{
  display:flex;
  margin:auto;
  justify-content: left;
  padding: 2rem;
}

.prof-header{ 
display:flex;
background-color: #ff6116;
padding: 1.5rem;
padding-right: 2rem;
}
.prof-img-container {
  width: 25rem;
  height: 25rem;
  overflow: hidden;
  border-radius: 50%; 
}

.img-container{
  width: 450px;
  height: 300px;
  overflow:hidden;
  margin-left: 9rem;
}

.pin-img-container{
  box-sizing: border-box;
  width: 800px;
  height:600px;
  overflow:hidden;
  margin-left: 2rem;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: inherit;
}

.host-info{
  font-size: 2rem;
  margin-left:4rem;
}

.list-events{
  padding: 5rem;
  font-size: 3rem;
  background-color: #ffeadf;
}

.list-events ol {
  list-style-type: none;
  counter-reset: custom-counter;
}

.list-events li {
  align-items: center;
  counter-increment: custom-counter;
  margin-bottom: 10px;
}

.list-events li::before {
  content: counter(custom-counter);
  display: inline-block;
  width: 2rem; 
  font-size: 3rem;  
  margin-right: 1.75rem; 
  font-weight: bold;
}
.event-info{
  text-align: left;
  line-height: 0;
  margin: 1rem;
  font-size: 1rem;
}

.pin-event-info{
  text-align: left;
  line-height: 0;
  margin: 1rem;
  font-size: 2rem;
}

.pin-header{
font-size: 3rem;
}
