html, body{
 /* background of page */
  background-color: #EE6123;
  margin: 40pxPX;
  width: auto;
  height: auto;
  overflow: auto;
  padding: 50px;

  /* page text */
  font-size: 15px;
  font-family: 'Inter';
}
img{
  background-color: white;
  border-radius: 50%;
  padding: 7px;
  height: 50px;
  width: 50px;
  top: 10px;
  left: 10px;
  position: absolute;
  overflow: hidden;
}
.Title{
    position: absolute;
    top: -10px;
    left: 80px;
    color: rgb(255, 255, 255, 0.8);
    font-size: 40px;
}

.rsvp{
  color: white;
  font-size: 40px;
  text-align: center;
}

input[type=text], select{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  
}


button {
  background-color: #2E0096;
  color: white;
  border: 0.5px solid #ddd;
  padding: 8px;
  margin-top: 20px;
  border-radius: 8px;
  cursor: pointer;
  float: right;
}


input[type=text], select{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  
}


label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color:white;
  text-align: left;
  display: block;
}





/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}