.image {
    height: 600px;
    width: 600px;
    float: right;
    padding-right: 100px;
    padding-top: 100px;
}

.rsvp-button {
    padding: 30px 40px 30px 40px;
    color: white;
    background: rgba(46, 0, 150);
}

.title {
    text-align:center;
    padding: 30px 150px 30px 150px;
    display:flexbox;
    background: aliceblue;
}

.container {
    display:flex;
    max-width: 800px;
    background: rgba(238, 97, 35);
}

.image-container {
    position:absolute;
    left:60%;
}

.info-container {
    position:absolute;
    left:15%;
    max-width: 40%;
    word-wrap:break-word;
}

